

body
{
    background-color: #E5E7E6;
    color: #B80C09;
}

form {
    border: 3px solid #00A5CF;
}


a {
    color: #6B2B06;
}

/* Set a style for all buttons */
button {
    background-color: #00A5CF;
    color: #7AE582;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


.header {
    padding: 10px;
    text-align: center;
    background: #B7B5B3;
    color: #141301;
    font-size: 30px;
}

hr
{
    border-color: #2a9d8f;
    border: 5px solid #BFC0C0;
    border-radius: 5px;
}
.navigationbar
{
    line-height: 0.25;
    color: #6B2B06;

}
