

body
{
    background-color: #537D8D;
    color: #E5D352;
}

form {
    border: 3px solid #00A5CF;
}


a {
    color: #D9E76C;
}
h3
{
    color: #D9E76C;
}
.header {
    padding: 10px;
    text-align: center;
    background: #AC3931;
    color: #E5D352;
    font-size: 30px;
}

hr
{
    border-color: #482C3D;
    border: 5px solid #482C3D;
    border-radius: 5px;
}
.navigationbar
{
    line-height: 0.25;
    color: #6B2B06;

}
