body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



header h1 {
  margin: 0;
}

section {
  margin: 20px;
}

section img {
  max-width: 100%;
}

section video {
  width: 100%;
}

section h2 {
  margin-top: 0;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
}

footer p {
  margin: 0;
}

body
{
    background-color: #A9E5BB;
    color: #F7B32B;
}

form {
    border: 3px solid #00A5CF;
}


a {
    color: #6B2B06;
}





hr
{
    border-color: #2a9d8f;
    border: 5px solid #BFC0C0;
    border-radius: 5px;
}
.navigationbar
{
    line-height: 0.01;
    color: #f72c25;

}
.center-panel {
  width: 30%; /* Adjust as needed */
  margin: 0 auto; /* Centers the panel horizontally */
  background-color: #FCF6B1; /* Adjust as needed */
  padding: 70px; /* Adjust as needed */
}

.center-panel .content {
  /* Additional styles for the content can go here */
}

header {
  background-color: #2d1e2f;
  color: #f72c25;
    height: 80px;
}
nav {
    padding: 2px; /* Adjust the padding as needed */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  background-color: #2d1e2f;
}